body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* "width" is the width of the image */
#sliderImgContainer {
  border: 1px black solid;
  display: flex;
  justify-content: center;
}

#leftImgPane {
  border-right: 0.5px black solid;
  width: 50%;
  display: flex;
  justify-content: start;
  overflow-x: hidden;
}

#rightImgPane {
  border-left: 0.5px black solid;
  width: 50%;
  display: flex;
  justify-content: end;
  overflow-x: hidden;
}

#sliderAnchorContainer {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#sliderAnchor {
  position: relative;
  left: 0px;
  background-color: purple;
  width: fit-content;
  height: fit-content;
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

#sliderContainer {
  width: fit-content;
  position: relative;
}

#errorContainer {
  display: none;
  width: 250px;
}

#errorContainer p {
  background-color: rgba(0, 0, 0, 0.25);
  color: rgba(0, 0, 0, 0.75);
  font-family: arial, helvetica;
  margin: 0;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0 0 15px 15px;
  font-size: 12px;
}

#errorContainer #errorTitle {
  font-size: 8px;
  background-color: rgba(0, 0, 0, 0.15);
  padding: 5px 10px;
  border-radius: 15px 15px 0 0;
  text-transform: uppercase;
  font-family: arial, helvetica;
  font-weight: 600;
  color: gray;
}

#sliderContainer.error #sliderImgContainer {
  display: none;
}

#sliderContainer.error #sliderAnchorContainer {
  display: none;
}

#sliderContainer.error #errorContainer {
  display: block;
}
