body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* width is the width of the image */
#sliderImgContainer {
  border: 1px black solid;
  width: 1024px;
  display: flex;
  justify-content: center;
}

#leftImgPane {
  border-right: 0.5px white solid;
  width: 50%;
  display: flex;
  justify-content: start;
  overflow-x: hidden;
}

#rightImgPane {
  border-left: 0.5px white solid;
  width: 50%;
  display: flex;
  justify-content: end;
  overflow-x: hidden;
}

#sliderAnchorContainer {
  /* border: 1px orange solid; */
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#sliderAnchor {
  /* border: 1px purple solid; */
  background-color: purple;
  width: fit-content;
  height: fit-content;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  opacity: 50%;
}

#sliderContainer {
  width: fit-content;
  position: relative;
}
