:root {
  --black: rgba(0, 0, 0, 1);
  --white: rgba(255, 255, 255, 1);
  --purple: rgba(128, 0, 128, 1);
  --errorBg: rgba(0, 0, 0, 0.25);
  --errorTxt: rgba(0, 0, 0, 0.75);
  --errorTitleBg: rgba(0, 0, 0, 0.15);
  --errorTitleTxt: rgba(128, 128, 128, 1);
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#sliderContainer {
  margin: auto;
  position: relative;
  width: fit-content;
  border: 1px var(--black) solid;
  display: none;
}

#sliderContainer.show {
  display: block;
}

#sliderImgContainer {
  position: relative;
  z-index: 0;
}

#sliderImgContainer img {
  display: block;
  width: 100%;
  height: 100%;
}

#sliderImgContainer .img-pane:first-of-type {
  position: absolute;
  height: 100%;
  width: 100%;
}

#sliderContainer #sliderImgContainer .img-pane:first-of-type .window {
  position: relative;
  overflow: hidden;
  border-right: 1px solid var(--black);
  border-bottom: none;
  width: 50%; /*adjust for width scroll*/
  height: 100%;
}

#sliderContainer #sliderImgContainer .img-pane:first-of-type .window img {
  position: absolute;
  width: fit-content;
  height: 100%;
}

#sliderContainer[vertical] #sliderImgContainer .img-pane:first-of-type .window {
  position: relative;
  overflow: hidden;
  border-right: none;
  border-bottom: 1px solid var(--black);
  width: 100%;
  height: 50%; /*adjust for height scroll*/
}

#sliderContainer[vertical]
  #sliderImgContainer
  .img-pane:first-of-type
  .window
  img {
  position: absolute;
  width: 100%;
  height: fit-content;
}

#sliderAnchorContainer {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#rangeControl {
  -webkit-appearance: none;
  width: 100%;
  height: fit-content;
  padding: 0;
  margin: 0;
  background: transparent;
  /* background: rgba(111, 14, 14, 0.5); */
  outline: none;
}

#rangeControl::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  background-color: var(--purple);
  border: 5px var(--white) solid;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  cursor: pointer;
}

#rangeControl::-moz-range-thumb {
  background-color: var(--purple);
  border: 5px var(--white) solid;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  cursor: pointer;
}

#sliderContainer[vertical] #rangeControl {
  transform: rotate(90deg);
}

#errorContainer {
  display: none;
  width: 250px;
}

#errorContainer p {
  background-color: var(--errorBg);
  color: var(--errorTxt);
  font-family: arial, helvetica;
  margin: 0;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0 0 15px 15px;
  font-size: 12px;
}

#errorContainer #errorTitle {
  font-size: 8px;
  background-color: var(--errorTitleBg);
  padding: 5px 10px;
  border-radius: 15px 15px 0 0;
  text-transform: uppercase;
  font-family: arial, helvetica;
  font-weight: 600;
  color: var(--errorTitleTxt);
}

#sliderContainer.error {
  border: none;
}

#sliderContainer.error #sliderImgContainer {
  display: none;
}

#sliderContainer.error #sliderAnchorContainer {
  display: none;
}

#sliderContainer.error #errorContainer {
  display: block;
}
