body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#sliderContainer {
  width: fit-content;
  position: relative;
}

#sliderImgContainer {
  display: flex;
  justify-content: center;
}

.img-pane {
  border: 1px black solid;
  width: 50%;
  display: flex;
  overflow-x: hidden;
}

#leftImgPane {
  justify-content: start;
  margin-left: 7px;
  border-right: 0.5px black solid;
}

#rightImgPane {
  justify-content: end;
  margin-right: 7px;
  border-left: 0.5px black solid;
}

#sliderAnchorContainer {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#rangeControl {
  -webkit-appearance: none;
  width: 100%;
  padding: 0;
  margin: 0;
  background: transparent;
  outline: none;
}

#rangeControl::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  background-color: purple;
  border: 5px purple solid;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

#rangeControl::-moz-range-thumb {
  background-color: purple;
  border: 5px purple solid;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

#errorContainer {
  display: none;
  width: 250px;
}

#errorContainer p {
  background-color: rgba(0, 0, 0, 0.25);
  color: rgba(0, 0, 0, 0.75);
  font-family: arial, helvetica;
  margin: 0;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0 0 15px 15px;
  font-size: 12px;
}

#errorContainer #errorTitle {
  font-size: 8px;
  background-color: rgba(0, 0, 0, 0.15);
  padding: 5px 10px;
  border-radius: 15px 15px 0 0;
  text-transform: uppercase;
  font-family: arial, helvetica;
  font-weight: 600;
  color: gray;
}

#sliderContainer.error #sliderImgContainer {
  display: none;
}

#sliderContainer.error #sliderAnchorContainer {
  display: none;
}

#sliderContainer.error #errorContainer {
  display: block;
}
